#parent,#child {
	box-shadow: 0 0 20px #45f3ff;
	width: 300px;
	height: 360px;
	margin: 150px auto;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
}

#parent>img	{
	width: inherit;
	height: inherit;
	transition: all 1s linear 0s;
}

#parent:hover {
	cursor: pointer;
}

#parent:hover>img {
	transform: translateY(-100px);
}

#parent #child {
	background-color: rgb(34, 42, 62);
	color: white;
	position: absolute;
	top: 220px;
	left: 0px;
	height: 100px;
	transition: all 1s linear 0s;
}

#parent:hover>#child {
	transform: translateY(-110px);
	box-shadow: 0 0 40px red;
}

#parent>#child>ol>li {
	text-align: center;
	list-style-type: none;
}

body {
	background-color: black;
}
